body
{
	background-color: #333333;
}

.home:hover
{
	color: lightgreen;
}

.categorie:hover
{
	color: lightgreen;
}

.categorie 
{
  position: relative;
}

.categorie::after 
{
  content: '';
  transform-origin: 0 0; 
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: .1em; 
  background: #78ab4e;
  z-index: -1;
  opacity: 1;
  transition: transform .3s;
}

.categorie:hover::after 
{
  transform: scaleX(1);
}

.texte_centrer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-image: url("assets/images/Handball.jpg");
}

.outils
{
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
}

.outils-centre
{
	display: flex;
	flex-direction: row;
  justify-content: space-evenly;
}

.logiciel
{
	height: 120px;
	margin-top: 20px;
}

.logicielweb
{
	height: 140px;
}

hr
{
	/*background-color: lightgreen;
	box-shadow: 1px 1px 20px 4px lightgreen, 0 2px 5px green;*/
	margin-top: 4rem;
  margin-bottom: 4rem;
}

header
{
	background-color: #222222;
	border-style: solid;
	border-bottom-color: #7CFF89;
	top: 0px;
	position: -webkit-sticky;
	position: sticky;
	z-index: 2;
	box-shadow: 3px 4px 20px -5px lightgreen, 0 2px 5px green;
}

p
{
	color: white;
	text-align: justify;
}

.lien
{
	color: lightgreen;
	font-size: 1.5rem;
	text-align: center;
}

.lien:hover
{
	color: lightgreen;
	text-decoration: underline;
}

.entete
{
	min-height: 100vh;
	text-align: center;
	color: white;
	display: grid;
	place-items: center;
	transition: 1s;
}

.bi
{
	color: white;
}

.bi:hover
{
	animation: pulse-white 1.2s infinite;
  cursor: pointer;
}

.bi-caret-down-square
{
	margin-top: -25vh;
}

.clignotte
{
	animation-duration: 1.2s;
	animation-name: clignoter;
	animation-iteration-count: infinite;
	transition: none;
}

.bi-house-door-fill 
{
	margin-top: 0.3em;
}

.qui
{
	font-size: 7rem;
	margin-top: 20vh;
	text-transform: uppercase;
	font-weight: 700;
}

.quoi
{
	font-size: 4rem;
	margin-bottom: 25vh;
}

.home
{
	text-align: left;
}

ul
{
	text-align: right;
	margin-block-end: 0.5em;
;
}

li
{
	color: #7CFF89;
	list-style: none;
	display: inline;
	margin-left: 1%;
	margin-right: 2%;
}

.Compétences
{
	display: grid;
	justify-content: center;
}

h1
{
	color: white;
	text-align: center;
	font-size: 5vh;
	margin-bottom: 10vh;
}

h2
{
	color: white;
	text-align: center;
	font-size: 4vh;
	margin-bottom: 5vh;
}

h3
{
	color: white;
	text-align: center;
	font-size: 3vh;
	margin-bottom: 5vh;
}

a
{
	text-decoration: none;
	color: white;
}

a:hover
{
	text-decoration: none;
	color: white;
}

.logo
{
	text-align: center;
}

.info
{
	text-align: center;
	/**margin-bottom: 25vh;**/
	visibility: hidden;
}

.icone
{
	margin-top: 25vh;
}

.comp
{
	color: white;
	text-align: center;
	font-size: 2vh;
	margin-bottom: 2vh;
}

.Cursus, .Compétences, .Hobbies
{
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.barre
{
	background-color: lightgreen;
  position: relative;
  height: 20px;
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  top: 60px;
  border-radius: 25px;
  box-shadow: 3px 4px 20px -5px lightgreen, 0 2px 5px green;
}

.balle
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #7CFF89;
	place-items: center;
	border: black;
	box-shadow: 3px 4px 20px -5px lightgreen, 0 2px 5px green;
}

.balle:hover
{
	cursor: pointer;
	transform: scale(115%);
}

#T1, #T2, #T3, #T4, #T5
{
	display : none;
	font-size: 25px;
	font-weight: 700;
}

.row
{
	margin-bottom: 5vh;
	margin-left: 0;
	margin-right: 0;
}

@keyframes clignoter {
  0%   { opacity:1; }
  40%  { opacity:0; }
  100% { opacity:1; }
}

@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }
}



/**Voir le js**/
.progress
{
	background-color: darkgrey;
	border-radius: 20px;
	height: 30px;
	width: 80vw;
	margin-bottom: 5vh;
}

.progress-done, .progress-done2, .progress-done3, .progress-done4, .progress-done5, .progress-done6, .progress-done7, .progress-done8 
{
	background: #7CFF89;
	box-shadow: 0 3px 3px -5px lightgreen, 0 2px 5px green;
	border-radius: 20px;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0px;
	color: black;
	transition: 3s ease 0.1s;
}

/**Modification pour le responsive**/

@media (max-width: 1250px)
{

	.qui
	{
		font-size: 4rem;
	}

	.quoi
	{
		font-size: 2rem;
	}

}

@media (max-width: 990px)
{

	p
	{
		font-size: 2em;
	}

.barre 
	{
    background-color: lightgreen;
    position: relative;
    height: 600px;
    width: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    box-shadow: 3px 4px 20px -5px lightgreen, 0 2px 5px green;
	}

	.balle 
	{
    position: relative;
    top: -500px;
  }

}